
@font-face {
  font-display: swap;
  font-family: "Circular-Std";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/circular-std-medium-500\ \(1\).ttf") ;
}
@font-face {
  font-display: swap;
  font-family: "Circular-Std";
  font-style: normal;
  font-weight: 450;
  src: url("./fonts/FontsFree-Net-Circular-Std-Book-2.ttf") ;
}
/* @font-face {
  font-display: swap;
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 450;
  src: url("./fonts/FontsFree-Net-Circular-Std-Book-2.ttf") ;
} */
body {
  margin: 0;
  /* font-family: "Circular Std", sans-serif; */
  font-family: "Circular-Std";
}

code {
  font-family: "Circular-Std";
}
table {
  font-family: arial, sans-serif;
  width: 100%;
}

td,
th {
  border: 1px solid white;
  text-align: left;
  padding: 15px;
  background-color: #f8f8f8;
  max-height: 54px;
  font-family: "Circular-Std";
}

tr:nth-child(even) {
  background-color: #f8f8f8;
  font-family: "Circular-Std";
}
tr:nth-child(1) > th {
  border-top: 3px solid #4447e7 !important;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
tr:nth-child(2) > th {
  border-top: 3px solid #4447e7 !important;
  font-weight: 450;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.small-input {
  -moz-appearance: textfield;
}
.small-input::-webkit-inner-spin-button {
  display: none;
}
.small-input::-webkit-outer-spin-button,
.small-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
