@import url("https://fonts.cdnfonts.com/css/circular-std?styles=17909,17911");
@font-face {
  font-display: swap;
  font-family: "Circular Std", sans-serif;
  font-style: normal;
  font-weight: 500;
  src: url("./Fonts/FontsFree-Net-CircularStd-Black.ttf");
}
@font-face {
  font-display: swap;
  font-family: "Circular Std", sans-serif;
  font-style: normal;
  font-weight: 450;
  src: url("./Fonts/FontsFree-Net-Circular-Std-Book-2.ttf");
}
body {
  margin: 0;
  font-family: "Circular Std", sans-serif;
}

code {
  font-family: "Circular Std", sans-serif;
}
table {
  font-family: arial, sans-serif;
  width: 100%;
}

td,
th {
  border: 1px solid white;
  text-align: left;
  padding: 15px;
  background-color: #f8f8f8;
  max-height: 54px;
}

tr:nth-child(even) {
  background-color: #f8f8f8;
}
tr:nth-child(1) > th {
  border-top: 3px solid #4447e7 !important;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
tr:nth-child(2) > th {
  border-top: 3px solid #4447e7 !important;
  font-weight: 450;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
