@font-face {
  font-display: swap;
  font-family: "Circular-Std";
  font-style: normal;
  font-weight: 500;
  src: url("./fonts/circular-std-medium-500\ \(1\).ttf");
}
@font-face {
  font-display: swap;
  font-family: "Circular-Std";
  font-style: normal;
  font-weight: 450;
  src: url("./fonts/FontsFree-Net-Circular-Std-Book-2.ttf");
}
/* @font-face {
  font-display: swap;
  font-family: "Circular Std";
  font-style: normal;
  font-weight: 450;
  src: url("./fonts/FontsFree-Net-Circular-Std-Book-2.ttf") ;
} */
body {
  margin: 0;
  /* font-family: "Circular Std", sans-serif; */
  font-family: "Circular-std";
}

code {
  font-family: "Circular-Std";
}
table {
  font-family: arial, sans-serif;
  width: 100%;
}

td,
th {
  border: 1px solid white;
  text-align: left;
  padding: 15px;
  background-color: #f8f8f8;
  max-height: 54px;
  font-family: "Circular-Std";
}

tr:nth-child(even) {
  background-color: #f8f8f8;
  font-family: "Circular-Std";
}
tr:nth-child(1) > th {
  border-top: 3px solid #4447e7 !important;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
tr:nth-child(2) > th {
  border-top: 3px solid #4447e7 !important;
  font-weight: 450;
  font-size: 16px;
  line-height: 20px;
  color: #000000;
}
.small-input {
  -moz-appearance: textfield;
}
.small-input::-webkit-inner-spin-button {
  display: none;
}
.small-input::-webkit-outer-spin-button,
.small-input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.react-datepicker {
  border: 1px solid #4447e7 !important;
  border-radius: 10px !important;
  padding: 15px;
}
.react-datepicker__navigation--next {
  right: 35px !important;
  top: 15px !important;
}
.react-datepicker__navigation--previous {
  left: 35px !important;
  top: 15px !important;
}
.react-datepicker__year .react-datepicker__year-text {
  width: 63px !important;
  margin: 0 !important;
}
.react-datepicker__header {
  border-bottom: none !important;
  background-color: white !important;
}
.react-datepicker-popper[data-placement^="bottom"]
  .react-datepicker__triangle::after {
  border-top: none !important;
  border-bottom: none !important;
}
.react-datepicker-popper[data-placement^="bottom"]
  .react-datepicker__triangle::before {
  border-top: none !important;
  border-bottom: none !important;
}
.react-datepicker__year-wrapper {
  display: flex;
  flex-wrap: wrap;
  max-width: 300px !important;
}
.react-datepicker__year-text {
  padding: 10px 5px;
  width: 63px !important;

  font-family: "Circular-std";
}
.react-datepicker__year-text--selected {
  background: #4447e7 !important;
}
.react-datepicker-year-header {
  background: #ffffff;
  font-family: "Circular-std";
}
.dateeee {
  width: 25px !important;
  height: 25px !important;
  position: absolute;
  z-index: 999;
  bottom: 30px;
  right: 6px;
  margin: 0;
  opacity: 0;
}

.react-datepicker-popper {
  transform: translate(219px, 87px) !important;
}


@media (max-width: 600px) {
  .react-datepicker-popper {
    inset: 2px auto auto -217px !important;
  }
}
@media (max-width: 380px) {
  .react-datepicker-popper {
    inset: 3px auto auto -227px !important;
    width: 98%;
  }
}
